a{
    color:blue;
}

.profile{
    background-color: rgba(170, 214, 12, 0.932);
    color:white;
    box-sizing: border-box;
    margin:1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 0.7em;
    height: fit-content;
    overflow: hidden;
}

.profile-search,.profile-output {
    margin-left: 1em;
    padding-top: 2em;
    padding-bottom: 0.4em;
}

#profile-output-heading{
    text-align: center;
    font-size: 1.4em;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding:0.4em;
    margin:1rem;
    position: relative;
    top:0.6em;
}

#output-img-link{
    position: relative;
    bottom:29em;
    right:29em;
}

#profile-search-input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0.2em;
    padding:0.4em 2em 0.4em 1em;
    width: 600px;
    text-align: left;
    border-radius: 0.7em;
    color: rgb(170, 214, 12);
    font-size: 1.2em;
    border-color: rgba(170, 214, 12, 0.932);
    outline: none;
    font-weight: 600;
}

#profile-search-input::placeholder{
    color: rgb(170, 214, 12);
}